<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atguigu.spzx.manager.mapper.BrandMapper">
    <select id="selectBrandPageList" resultType="com.atguigu.spzx.model.entity.product.Brand">
        select * from brand where is_deleted = 0
    </select>
</mapper>