<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atguigu.spzx.manager.mapper.CategoryBrandMapper">

    <select id="findByPage" resultType="com.atguigu.spzx.model.entity.product.CategoryBrand">
        select
        cb.id,cb.brand_id,cb.category_id,cb.create_time,cb.update_time,
        c.name as categoryName,
        b.name as brandName, b.logo from category_brand cb
        left join category c on cb.category_id = c.id
        left join brand b on cb.brand_id = b.id
        <where>
            <if test="brandId != null and brandId != ''">
                and cb.brandId = #{brandId}
            </if>
            <if test="categoryId != null and categoryId != ''">
                and cb.category_id = #{categoryId}
            </if>
            and cb.is_deleted = 0
        </where>
    </select>
</mapper>