<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atguigu.spzx.manager.mapper.CategoryBrandMapper">
    <insert id="insertCategoryBrand">
        INSERT INTO category_brand
        (id,
         brand_id,
         category_id,
         create_time,
         update_time,
         is_deleted)
        values (#{id},
                #{brandId},
                #{categoryId},
                now(),
                now(),
                0)
    </insert>
    <update id="updateCategoryBrand">
        update category_brand
        set
        <if test="brandId != null and brandId != ''">
            brand_id = #{brandId},
        </if>
        <if test="categoryId != null and categoryId != ''">
            category_id = #{categoryId},
        </if>
        update_time = now()
        where id = #{id}
    </update>

    <select id="findByPage" resultType="com.atguigu.spzx.model.entity.product.CategoryBrand">
        select
        cb.*,
        c.name as categoryName,
        b.name as brandName, b.logo
        from category_brand cb
        left join category c on cb.category_id = c.id
        left join brand b on cb.brand_id = b.id
        <where>
            <if test="brandId != null and brandId != ''">
                and cb.brand_id = #{brandId}
            </if>
            <if test="categoryId != null and categoryId != ''">
                and cb.category_id = #{categoryId}
            </if>
            and cb.is_deleted = 0
        </where>
    </select>
</mapper>