<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atguigu.spzx.product.mapper.CategoryMapper">
    <select id="selectOneCategory" resultType="com.atguigu.spzx.model.entity.product.Category">
            select * from category where parent_id = 0 and is_deleted = 0
    </select>
    <select id="selectOneCategoryById" resultType="com.atguigu.spzx.model.entity.product.Category">
        select * from category where parent_id = 0 and is_deleted = 0 and id = #{id}
    </select>
    <select id="selectAllCategory" resultType="com.atguigu.spzx.model.entity.product.Category">
        select *
        from category
        where is_deleted = 0
    </select>
</mapper>