<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atguigu.spzx.product.mapper.ProductSkuMapper">
    <select id="selectBySkuId" resultType="com.atguigu.spzx.model.entity.product.ProductSku">
        select * from product_sku sku where is_deleted=0 and id = #{skuId}
    </select>
</mapper>